.btn-light{
    width: 120px !important;
    height: 120px;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
    background-image: url(../img/bulb_off.png);
    background-position: center top;
    background-size: 50% auto;
    background-repeat: no-repeat;
    -moz-background-origin: content;          /* Firefox 1.0-3.6 */
    -webkit-background-origin: content-box;   /* Safari, Chrome */
    background-origin: content-box;           /* Firefox 4.0+ */
    line-height: 180px;

    color: #ffffff;
    background-color: #ff0039;
    border-color: #ff0039;

    margin: 2px;
    margin-top: 4px;
    /*margin-left: 10px;
    padding-left: 11px;*/
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open .dropdown-toggle.btn-light {
    background-image: url(../img/bulb_off.png);
    color: #ffffff;
    background-color: #d60030;
    border-color: #c2002b;
}

.btn-light.on {
    background-image: url(../img/bulb_on.png);
    color: #ffffff;
    background-color: #3fb618;
    border-color: #3fb618;
}

.btn-light.on:hover, .btn-light.on:focus, .btn-light.on:active, .btn-light.on.active, .open .dropdown-toggle.btn-light.on {
    color: #ffffff;
    background-color: #339213;
    border-color: #2c8011;
}

.lightswitch-pane {
    text-align: center;
}

#help-display {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #2f3bb9;
    background-image: url('../img/panic.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.colorpicker {
  display: flex;
  justify-content: space-between
}

.klPane {
  margin: 1ex;
  display: none
}

.klPane.active {
  display: block
}

.klPane output {
  display: inline
}

.klPane label {
  margin-right: 1ex
}

.btn-floodit {
  color: black;
  border: solid black 1px;
  margin: .5ex
}

.btn-floodit:hover, .btn-floodit:active, .btn-floodit:focus {
  color: inherit
}

#klFlood1 {
  background-color: red
}

#klFlood2 {
  color: white;
  background-color: green
}

#klFlood3 {
  color: white;
  background-color: blue
}

#klFlood4 {
  background-color: yellow
}

#klFlood5 {
  background-color: magenta
}

#klFlood6 {
  background-color: cyan
}

#klFlood7 {
  background-color: white
}

#klFlood8 {
  color: white;
  background-color: black
}
