.notify-container {
    animation: notify-slide-up .4s ease-out;
    position: fixed;
    bottom: 0px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    border: 2px solid #888;
    border-radius: 8px;
    background-color: inherit;
}

.notify-message {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

@keyframes notify-slide-up {
    0% {
        opacity: 0;
        transform: translateY(1.2em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}