.klPane {
  margin: 1ex;
  display: none;
  &.active {
    display: block;
  }

  output {
    display: inline;
  }
  label {
    margin-right: 1ex;
  }
}

#klSelect {
  margin-bottom: 5px;
}

#klFlood1 {
  background-color: red;
}

#klFlood2 {
  color: white;
  background-color: green;
}

#klFlood3 {
  color: white;
  background-color: blue;
}

#klFlood4 {
  background-color: yellow;
}

#klFlood5 {
  background-color: magenta;
}

#klFlood6 {
  background-color: cyan;
}

#klFlood7 {
  background-color: white;
}

#klFlood8 {
  color: white;
  background-color: black;
}

.btn-floodit {
  color: black;
  border: solid black 1px;
  margin: 0.5ex;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
  }
}

.colorpicker {
  display: flex;
  justify-content: space-between;
  label {
    width: 100%;
    * {
      float: right;
    }
  }
}
